
{% extends 'baseAdmin.html.twig' %}
{% block title %}Accueil!{% endblock %}

{% block body %}
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="{{ path ('app_admin') }}" class="logo d-flex align-items-center me-auto">
                <img src="{{ asset ('assets/img/4.png') }}" alt="" width="70" height="300">
                <h1 class="">CityVibe</h1>
            </a>

           <nav id="navmenu" class="navmenu">
    <ul>
        <li><a href="{{ path('app_admin') }}" class="active">Accueil</a></li>
        <li class="dropdown has-dropdown">
            <a href="#"><span>Lieu</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="{{ path('app_page_admin_show_id') }}">Pages</a></li>
                <li><a href="{{ path('app_publication_index') }}">Publications</a></li>
            </ul>
        </li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
            <a class="btn-getstarted" href="{{ path('app_admin') }}" style="background-color: green;">Mode Economique</a>
        </div>
    </header>

    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section">
            <img src="{{ asset('assets/img/6.jpg') }}" alt="">
            <div class="container">
                <h2 data-aos="fade-up" data-aos-delay="50" class="">S'amuser aujourd'hui ,<br>S'amuser demain </h2>
                <p data-aos="fade-up" data-aos-delay="50">Bienvenue dans notre site CityVibe</p>
            </div>
        </section><!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                        <img src="{{ asset('assets/img/7.jpg') }}" class="img-fluid" alt="" style="width: 800px; height: 500px;">
                    </div>
                    <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                        <h2 class="short-description fst-italic">
                            Bienvenue sur notre site dédié à tous ceux en quête de bons plans pour s'amuser, que ce soit en solitaire ou en groupe ! Vous êtes à la bonne adresse pour découvrir une multitude d'activités palpitantes qui sauront égayer votre quotidien.
                        </h2>
                        <h2 class="short-description">
                            Que vous soyez en quête d'aventures en solo ou que vous souhaitiez partager des moments inoubliables avec vos proches, notre plateforme regorge de suggestions adaptées à tous les goûts et à toutes les envies.
                        </h2>
                        <h2 class="full-description" style="display: none;">
                            Explorez notre sélection variée d'expériences divertissantes, des sorties culturelles aux aventures en plein air en passant par les événements festifs.<br>
                            Nous sommes là pour vous guider dans la recherche du parfait plan, quel que soit votre humeur du moment. Alors, prêt à vivre des instants de plaisir et de découverte ? Laissez-vous inspirer et lancez-vous dans l'aventure dès maintenant !
                        </h2>
                        <a href="#" class="read-more" onclick="toggleDescription(); return false;"><span>Lire Plus</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section><!-- /About Section -->

        <!-- Counts Section -->
        <section id="counts" class="section counts">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
                            <p class="">Pages</p>
                        </div>
                    </div><!-- End Stats Item -->
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
                            <p class="">Publications</p>
                        </div>
                    </div><!-- End Stats Item -->
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                            <p class="">Evennements</p>
                        </div>
                    </div><!-- End Stats Item -->
                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
                            <p class="">Transport</p>
                        </div>
                    </div><!-- End Stats Item -->
                </div>
            </div>
        </section><!-- /Counts Section -->
    </main>

    <footer id="footer" class="footer position-relative">
        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1">CityVibe</strong> <span> Tous droits réservés</span></p>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <script>
        function toggleDescription() {
            const shortDescriptions = document.querySelectorAll('.short-description');
            const fullDescriptions = document.querySelectorAll('.full-description');
            shortDescriptions.forEach(element => {
                element.style.display = (element.style.display === 'none') ? 'block' : 'none';
            });
            fullDescriptions.forEach(element => {
                element.style.display = (element.style.display === 'none') ? 'block' : 'none';
            });
        }
    </script>
{% endblock %}
