<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <!-- CSS Files -->
            <link href="{{ asset ('assets_admin/css/bootstrap.min.css')}}" rel="stylesheet" />
            <link href="{{ asset ('assets_admin/css/now-ui-dashboard.css?v=1.5.0')}}" rel="stylesheet" />
            <!-- CSS Just for demo purpose, don't include it in your project -->
            <link href="{{ asset ('assets_admin/demo/demo.css')}}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
<!--   Core JS Files   -->
                <script src="{{ asset ('assets_admin/js/core/jquery.min.js')}}"></script>
                <script src="{{ asset ('assets_admin/js/core/popper.min.js')}}"></script>
                <script src="{{ asset ('assets_admin/js/core/bootstrap.min.js')}}"></script>
                <script src="{{ asset ('assets_admin/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
                <!--  Google Maps Plugin    -->
                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
                <!-- Chart JS -->
                <script src="{{ asset ('assets_admin/js/plugins/chartjs.min.js')}}"></script>
                <!--  Notifications Plugin    -->
                <script src="{{ asset ('assets_admin/js/plugins/bootstrap-notify.js')}}"></script>
                <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
                <script src="{{ asset ('assets_admin/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript')}}"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
                <script src="{{ asset ('assets_admin/demo/demo.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
